<h1>Shopping Cart</h1>

<% if @cart.order_items.present? %>
<table id="cart" class="table table-striped">
  <tr>
    <th>Product</th>
    <th>Category</th>
    <th>Quantity</th>
    <th class="price">Unit Price</th>
    <th class="price">Full Price</th>
    <th>Action</th>
  </tr>
  <% @cart.order_items.each do |order_item | %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= order_item.product.name %></td>
      <td><%= order_item.product.category.name %></td>
      <td class="qty">
      <%= form_for order_item, class:"form-horizontal", remote: true do |f| %>
      <%= f.select :quantity, (1..order_item.product.number).to_a, class:"form-control" %>
      <% end %>
      </td>
      <td class="price"><%= number_to_currency(order_item.unit_price) %></td>
      <td class="price"><%= number_to_currency(order_item.full_price) %></td>
      <td><%= link_to 'Remove', order_item, confirm: 'Are you sure?', method: :delete %></td>
      
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency @cart.total_price %>
    </td>
  </tr>
     
   <% item = @cart.order_items.last %>
   <% id = item.product.id %>
   <% product = Product.find(id) %>
   <% id_cat = product.category.id %> 
    
  <tr>
    <td>
        <%= link_to "Back", category_path(id_cat), class: 'btn btn-info' %> <%= link_to "Order", new_order_path, class: 'btn btn-info' %> 
    </td>
  </tr>
</table>
<% else %>
<p>Item not available.</p>
<%= link_to "Go To Shop", '/', class: 'btn btn-info' %>
<% end %>
    