<!-- <nav id="nav">
	<div id="page_nav">
		<%= link_to "Home", '/' %>
		
		<%= link_to "Shop", category_path(1) %>

		<%= link_to "About", page_about_path %>

		<%= link_to "FAQs", page_faqs_path %>

		<%= link_to "Contact", page_contact_path %>
	</div>

	<div id="sign_in">
	<% if user_signed_in? %>
		<%= link_to "Edit profile", edit_user_registration_path %>
		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign In", new_user_session_path %>
		<%= link_to "Sign Up", new_user_registration_path %>
	<% end %>
	</div>
</nav> -->

<div id="nav">	
	<form id="search">
		<input type="text" name="serch" id="searchf" placeholder="SEARCH">
		<input type="submit" value="GO" id="search_btn">
	</form>
	<span>FREE SHIPPING OVER €80</span>
	<h1 id="logo"><a href="/">TopStore</a></h1>
	<div id="cart">
		<% if user_signed_in? %>
			<%= link_to "Edit profile", edit_user_registration_path %>
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Sign In", new_user_session_path %>
			<%= link_to "Sign Up", new_user_registration_path %>
		<% end %>
		<a href="carts/show" class="cart">
			<i class="fa fa-shopping-cart"></i>
			  ITEMS( S )
			€  
		</a>
	</div><!-- cart-->

</div>