<!DOCTYPE html>
<html>
<head>
  <title>DrinkStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<%= render 'layouts/admin_header'%>
  <div style="min-height: 228px;" id="page-wrapper">
    <div class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
